.team{
    background-color: @gray;
    max-width:100%;
    height: 580px;
    margin: 9% 10%;
    border-radius: 20px;
    .tl{
        text-align: center;
        img{
            text-align: center;
            margin-top: 5%;
            max-width: 20%;
            max-height: 20%;
        }
        p{
            font-family:@main-font;
            margin-right: auto;
            text-align: center;
        }
    }

    .rect-dev-wrapper{
        display: flex;
        justify-content: space-around;
        margin-top: 7%;
        .react-devs{
            img{
                text-align: center;
            }
            p{
                font-family:@main-font;
                text-align: center;
            }
        }

    }
    

}


