@font-face {
  font-family: 'Vibur';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Vibur'), url(https://fonts.gstatic.com/s/vibur/v10/DPEiYwmEzw0QRgTuJD4.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Poppins Regular'), local('Poppins-Regular'), url(https://fonts.gstatic.com/s/poppins/v9/pxiEyp8kv8JHgFVrJJfedw.ttf) format('truetype');
}
@font-face {
  font-family: 'Vibur';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Vibur'), url(https://fonts.gstatic.com/s/vibur/v10/DPEiYwmEzw0QRgTuJD4.ttf) format('truetype');
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  max-width: 1200px;
}
.menu {
  display: flex;
  justify-content: space-around;
  max-width: 1500px;
  margin-top: 5%;
}
.menu .logo {
  font-family: 'Vibur', cursive;
  font-size: 2rem;
  color: #33495D;
}
.menu nav {
  font-family: 'Poppins', sans-serif;
  width: 33.3%;
  padding-top: 2%;
}
.menu nav a {
  text-decoration: none;
  color: #79ADCD;
  letter-spacing: 3px;
}
.menu nav a:hover {
  color: #33495D;
}
.menu nav span {
  color: #79ADCD;
  letter-spacing: 5px;
}
.menu button {
  font-family: 'Poppins', sans-serif;
  padding: 1.2% 7% 1.2% 7%;
  border-radius: 30px;
  border-style: none;
  border: 2px solid #33495D;
  background-color: white;
  color: #33495D;
}
.menu button:hover {
  border-color: white;
  background-color: #33495D;
  color: white;
}
header .header-img {
  margin-top: 5%;
}
header .header-img img {
  max-width: 100%;
  height: auto;
  text-align: center;
}
